.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%; /* 使用百分比 */
    z-index: 1;
    will-change: transform;
}


.card > img {

    box-sizing: border-box;
}