.card {
    position: absolute;
<<<<<<< HEAD
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%; /* 使用百分比 */
    z-index: 1;
    will-change: transform;
}


.card > img {

    box-sizing: border-box;
=======
    cursor: pointer;
    width: 20%;
    height: 30%;
    animation: fadeIn;
    animation-duration: 0.4s;
    transition: width 1s ease;
>>>>>>> dev_air
}